.page-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #1b272c;
}

.page-footer {
  width: 100%;
  text-align: center;
  margin-top: 24px;
}

.game-wrapper {
  border-radius: 4px;
  overflow: hidden;
  height: 600px;
  border: 1px solid #ff74d3;
}

.button-go-fullscreen {
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 8px 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}

.button-go-fullscreen:hover {
  background-color: #ff74d3;
  color: #fff;
}